body {

    background-color: #224455;
    background-image:url(parchment.jpg);
    font-family: "OldNewspaperTypes", Times, serif;
}
h1 {
    
}
.text {
    color: #2b1d0e;
    font-size: 20px;
    margin-right:35%;

}

.main{
    position:absolute;
    border: 1px solid black;
     }
.right{
       margin-left: 45%;
       position:inherit;
 }
table{
	border: 1px solid black;
	border-collapse: collapse;
	width: 100%;
	background-image:url(parchment.jpg);
}

th:hover{
	    opacity: 0.5;
        cursor:pointer;
}

h1:hover{
	    opacity: 0.5;
        cursor:pointer;
        -webkit-transform: rotateZ(-1deg);
        -ms-transform: rotateZ(-1deg);
        transform: rotateZ(-1deg);
        }

th { 
	border : 4px solid black; 
    background-image:url(parchment.jpg);
 }
 
 a { 
   color: inherit; 
   text-decoration: none;
 } 
 
 .bottom{
         background-image:url(round1.png);
         background-repeat:no-repeat;
         background-position:center;
         height: 200px; 
         width: 200px
  }
